@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<section>
    <h1>Pizze:</h1>
    <div>
        <h2>Margerita</h2>
        <img src="~/img/margherita.jpg" alt="foto pizza" style="width: 500px;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet hic perferendis, cupiditate voluptas quo alias obcaecati, dicta ea, tempore accusamus non quibusdam quos sequi quam consectetur eos officiis accusantium? Blanditiis.</p>
        <p>Prezzo: 5$</p>
    </div>
     <div>
        <h2>Pistacchiosa</h2>
        <img src="~/img/margherita.jpg" alt="foto pizza" style="width: 500px;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet hic perferendis, cupiditate voluptas quo alias obcaecati, dicta ea, tempore accusamus non quibusdam quos sequi quam consectetur eos officiis accusantium? Blanditiis.</p>
        <p>Prezzo: 10$</p>
    </div>
     <div>
        <h2>Capricciosa</h2>
        <img src="~/img/margherita.jpg" alt="foto pizza" style="width: 500px;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet hic perferendis, cupiditate voluptas quo alias obcaecati, dicta ea, tempore accusamus non quibusdam quos sequi quam consectetur eos officiis accusantium? Blanditiis.</p>
        <p>Prezzo: 8$</p>
    </div>
     <div>
        <h2>Quattro formaggi</h2>
        <img src="~/img/margherita.jpg" alt="foto pizza" style="width: 500px;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet hic perferendis, cupiditate voluptas quo alias obcaecati, dicta ea, tempore accusamus non quibusdam quos sequi quam consectetur eos officiis accusantium? Blanditiis.</p>
        <p>Prezzo: 5$</p>
    </div>
</section>